@keyframes squareRuns {
    0% {
        left: 0%;
        top: 0%;
    }
    25%{
        background-color: blue;
    }
    50% {
        left: 85%;
        top: 0%;
        background-color: black;
    }
    75%{
        background-color: blue;
    }
    100% {
        left: 0%;
        top: 0%;
        background-color: black;
    }
}

div {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation-name: squareRuns;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    cursor: pointer;
    animation-play-state: running;
}
