@-webkit-keyframes squareRuns {
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    background-color: blue;
  }
  50% {
    left: 85%;
    top: 0%;
    background-color: black;
  }
  75% {
    background-color: blue;
  }
  100% {
    left: 0%;
    top: 0%;
    background-color: black;
  }
}

@keyframes squareRuns {
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    background-color: blue;
  }
  50% {
    left: 85%;
    top: 0%;
    background-color: black;
  }
  75% {
    background-color: blue;
  }
  100% {
    left: 0%;
    top: 0%;
    background-color: black;
  }
}

div {
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;
  -webkit-animation-name: squareRuns;
          animation-name: squareRuns;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
/*# sourceMappingURL=style.css.map */